@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import '../../styles/colors.scss';

.herosection{
    background: transparent;
    height: 100vh;
    // color: #fff;
    padding: 2rem 0;
    position: relative;

    //Icon holders
    .herosection__icons__holder{
        position: absolute;
        .icons{
            position: absolute;
        }
        .round-icon{
            top: 70px;
            left: 102px;
        }
        .pattern1{
            bottom: -520px !important;
            left: 90px;
        }
        .pattern2{
            bottom: -520px !important;
            left: 550px;
        }
        .pattern3{
            left: 500px;
            bottom: -80px;
        }
    }

    //Balls Holder
    .balls__holder{
        position: absolute;
        .ball{
            height: 16px;
            width: 16px;
            position: absolute;
            border-radius: 50%;
            animation-name: moveBalls;
            animation-duration: 5s;
            animation-direction: alternate-reverse;
            animation-iteration-count: infinite;
        }
        .ball1{
            background: #FF9A68;
            right: -1250px;
        }
        .ball2{
            background: #554F7F;
            right: -800px;
            bottom: -300px;
        }
        .ball3{
            background: #FF5800;
            right: -460px;
            bottom: -50px;
            animation-delay: 2s;
        }
        .ball4{
            background: #7545FF;
            bottom: -250px;
            left: 40px;
        }
    }

    //Content
    .herosection__content{
        padding-top: 5rem;
        h1{
            font-family: "Manrope" !important;
            padding-bottom: 1.5rem;
            text-transform: capitalize;
            line-height: 1.3;
            font-size: 2.5rem;
            font-weight: bolder;
            color: $primary-color;
        }
        p{
            line-height: 1.7;
            font-size: 1rem;
            color: $primary-color;
            opacity: .7;
        }

        //Form
        .waitlist__form{
            padding-top: 1rem;
            input{
                height: 3.2rem !important;
                box-shadow: none;
                margin-right: 1rem;
                color: $primary-color;
                opacity: .7;
                border-radius: 5px;
                outline-color: $primary-color;
                &::placeholder{ 
                    color: $primary-color;
                    font-weight: 400;
                    opacity: .7;
                }
                &:focus{
                    border-color: rgb(223, 219, 219) !important;
                }
            }
            .submit__btn{
                background: $secondary-color;
                border: none;
                border-radius: 5px;
                margin-top: 1rem;
                padding: 1rem 2rem;
                width: 100%;
                color: #fff;
                font-size: 14px;
                span{
                    padding: 0px 25px;
                    font-weight: 500;
                    width: 60%;
                    opacity: .9999;
                    text-transform: uppercase;
                }
                &:hover{
                    background: $primary-color;
                    transition: all ease-in .5s;
                }
            }
        }
    }

    //Men image
    .men{
        border-radius: 8px;
    }

    //Move-balls Animation Styles
    @keyframes moveBalls {
        from {
            transform: translateY(20px);
        }
        to{
            transform: translateY(200px);
        }
    }
}

 //Media Queries for small screens
 @media only screen and (max-width: 1200px) {
    .herosection{
        height: auto;
        padding: 1.7rem .7rem;
        .herosection__content{
            padding-top: 3rem !important;
            h1{
                font-size: 2rem !important;
                line-height: 1.5;
            }
        }

        //Herosection Image 
        .hero__img__section{
            padding-bottom: 2rem !important;
            padding-top: 2rem !important;
        }
        .waitlist__form{
            flex-direction: column;
            input{
                width: 100% !important;
            }
            .submit__btn{
                width: 100% !important;
                margin-top: 1rem;
                padding: 1rem 2rem;
            }
        }
    }
  }

  //Media Queries for Icons on Mobiles 
  @media only screen and (max-width: 600px){
    .herosection{
        overflow-x: hidden !important;
        h1{
            opacity: 1 !important;
        }

        .phoneHolder{
            margin-top: 1rem;
        }
        
        //Icon holders
    .herosection__icons__holder{
        position: absolute;
        .icons{
            position: absolute;
        }
        .round-icon{
            top: 30px;
            left: 1px;
        }
        .pattern1{
            bottom: -220px !important;
            left: 150px;
        }
        .pattern2{
            bottom: -520px !important;
            left: 10px !important;
        }
        .pattern3{
            left: 250px !important;
            bottom: -30px !important;
        }
    }

    //Balls for mobiles
    .ball{
        height: 10px !important;
        width: 10px !important;
    }
    .ball1{
        background: #FF9A68;
        right: -300px !important;
    }
    .ball2{
        background: #554F7F;
        right: -200px !important;
        bottom: -300px;
    }
    .ball3{
        background: #FF5800;
        right: -200px !important;
        bottom: 50px !important;
        animation-delay: 2s;
    }
    .ball4{
        background: #7545FF;
        bottom: -250px;
        left: 40px;
    }
    }
  }