// Bring in variables
@import '../../styles/colors.scss';

.navbar{
    background: $primary-color;
    padding: 1rem 0;
    color: #fff;

    //Logo
    .logo{
        width: 180px;
        height: auto;
    }
}

//Media Queries
@media only screen and (max-width: 1200px) {
    .logo{
        width: 150px !important;
    }
}